[Unit]
Description=Bluetooth Reset Connection by Button Click

[Service]
Type=simple
ExecStart=/usr/bin/bt-connect 4 /usr/bin/btn_click.sh

[Install]
WantedBy=multi-user.target