[Unit]
Description=PulseAudio Sound System
After=alsa-restore.service

[Service]
BusName=org.pulseaudio.Server
ExecStart=/usr/bin/pulseaudio --system --disallow-exit --disable-shm
Restart=always

[Install]
WantedBy=multi-user.target